<app-navbar-guest></app-navbar-guest>

<div class="section mt-6">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Recuperar Contraseña</p>
          <div class="field">
            <label class="label">Correo Electrónico</label>
            <div class="control">
              <input type="email" class="input" [(ngModel)]="email" placeholder="Ingrese su correo electrónico" />
            </div>
            <p *ngIf="email && !validEmail()" class="help is-danger">
              Ingrese un correo electrónico válido.
            </p>
          </div>
          <div class="field has-text-centered mt-4">
            <button class="button is-primary" [disabled]="!canSubmit()" (click)="validateEmail()">
              Enviar Correo de Recuperación
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>